<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TenderingfileMapper">
  <resultMap id="BaseResultMap" type="com.domain.Tenderingfile">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tenderingprjid" jdbcType="INTEGER" property="tenderingprjid" />
    <result column="filepath" jdbcType="VARCHAR" property="filepath" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tenderingprjid, filepath
  </sql>

</mapper>